.heading {
    width: 90%;
}

.checkout-List {
    font-family: 'Dosis', sans-serif;
    width: 88%;
    // background-color: #2874f0;
    h6 {
        padding: 15px;
        font-size: 21px;
        padding-left: 8px;
    }
    p {
        font-size: 20px;
    }
    img {
        height: 200px;
        width: 200px;
    }
}

.page-title {
    font-family: 'Dosis', sans-serif;
    h2 {
        margin-left: 39%;
    }
}

.amount-details {
    background-color: #fb641b;
    color: #fff;
    padding: 0 13px;
}

h6 {
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    font-weight: 600;
}