.header {
    margin-top: 20px;
    button {
        i {
            font-size: 40px;
            color: #fff;
        }
    }
}
.product-card {
    height: 100%;
    img {
        width: 70%;
        height: 50%;
        margin: 2px 46px;
    }
}